@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   Reanna Grauel
   Date:     4/22/24
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

html {
	background-color: rgb(0, 7, 15);
}

body {
	color: rgb(225, 249, 255);
	font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
}


header {
    background-color: rgb(0, 32, 45);
	border: 1px solid #888888;
	border-radius: 25px;
    box-shadow: 15px 15px 5px 0 rgba(225, 249, 255, 65%); 
	margin-bottom: 30px;
    margin-top: 10px;
	text-align: center;
	width: 910px;	/* reduced by 20px to accommodate shadow */	
}

table, th, td {
  border: 1px solid;
  padding: 2px;
}

video {
  width: 100%;
  height: auto;
}

nav {
	width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
}

nav ul {
	font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: rgb(225, 249, 255);
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: rgb(0, 32, 45);
    border-radius: 10px;
    color: white;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: rgb(225, 249, 255);
    border-left: 2px solid;
    border-right: 2px solid;    
    background-image: url(images/ricepaper.jpg); 
}

#main p {
    text-indent: 1.5em;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-family: 'FantaisieArtistique', sans-serif;
	font-style: normal;
	font-size: 4em;
}

@font-face{
	src: url('https://fonts.cdnfonts.com/css/fantaisie-artistique');
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


footer {
    background-color: rgb(0, 32, 45);
    border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	clear: both;
    color: rgba(225, 249, 255, 70%);
    font-weight: bold;
	margin: 0;
    padding: 10px;
    text-align: center;
	width: 910px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;
}
/* navigation for footer */

footer a:link {
    color: rgba(225, 249, 255, 70%);
    text-decoration: none;
}

footer a:visited {
    color: rgb(225, 249, 255);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px; 
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 5px;
	resize: vertical
}
 
input[type=submit] {
	background-color: rgb(0, 32, 45);
	color: rgb(225, 249, 255);
	padding: 6px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}